{% extends "main_app/wrapper.html" %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">departure date</th>
            <th scope="col">departure time</th>
            <th scope="col">destination</th>
            <th scope="col">departure railway</th>
            <th scope="col">departure platform</th>
            <th scope="col">destination platform</th>
            <th scope="col">destination railway</th>
            <th scope="col">train number</th>
            <th scope="col">destination date</th>
            <th scope="col">destination time</th>
        </tr>
        </thead>

        <tbody>
        {% for flight in object_list %}

            <tr>
                <td>{{ flight.departure_date }}</td>
                <td>{{ flight.departure_time }}</td>
                <td>{{ flight.destination }}</td>
                <td>{{ flight.departure_railway }}</td>
                <td>{{ flight.departure_platform }}</td>
                <td>{{ flight.destination_railway }}</td>
                <td>{{ flight.price_of_ticket }}</td>
                <td>{{ flight.train_number }}</td>
                <td>{{ flight.destination_date }}</td>
                <td>{{ flight.destination_time }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}