{% extends "main_app/wrapper.html" %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">departure date</th>
            <th scope="col">departure time</th>
            <th scope="col">destination</th>
            <th scope="col">departure railway</th>
            <th scope="col">departure platform</th>
            <th scope="col">destination railway</th>
            <th scope="col">price</th>
            <th scope="col">train number</th>
            <th scope="col">destination date</th>
            <th scope="col">destination time</th>
        </tr>
        </thead>

        <tbody>
        {% for flight in object_list %}

            <tr>
                <td>{{ flight.departure_date }}</td>
                <td>{{ flight.departure_time }}</td>
                <td>{{ flight.destination }}</td>
                <td>{{ flight.departure_railway }}</td>
                <td>{{ flight.departure_platform }}</td>
                <td>{{ flight.destination_railway }}</td>
                <td>{{ flight.price_of_ticket }}</td>
                <td>{{ flight.train_number }}</td>
                <td>{{ flight.destination_date }}</td>
                <td>{{ flight.destination_time }}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
{% block settings %}
    <h2>Inline form</h2>
    <p>Make the viewport larger than 768px wide to see that all of the form elements are inline, left aligned, and the
        labels are alongside.</p>
    <form class="form-inline" action="/action_page.php">
        <div class="form-group">
            <label for="email">From</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div>
        <div class="form-group">
            <label for="pwd">To:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pwd">
        </div>
        <div class="checkbox">
            <label><input type="checkbox" name="remember"> Remember me</label>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
{% endblock %}